*a {
    text-decoration: none;
}

.nav-container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: "50px";
    font-size: 20px;
}

.nav-container .routes-div {
    display: flex;
    justify-content: space-around
}

.nav-container .routes-div anchor {
    text-decoration: none;
    font-size: 2em;

}

.nav-container .logo-div {
    display: flex;
    justify-content: flex-end
}

.nav-container .logo-div anchor {
    text-decoration: none;
    font-size: 2rem;
}

@media screen {}